@charset "ISO-8859-1";

#table {
	text-align: center;
}

#imagen {

	background: url(logo.png) top left no-repeat;
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	background-size: 80%;
}

body {
	background: rgba(252, 175, 161, 1);
}

#botones {
	width: 50px;
	margin-left: 50%;
	
}

#titulo{
	width: 1400px;
	text-align: center;	
	font-family: arial;
}