@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

#table {
	text-align: center;
}

#imagen {

	background: url(logo.png) top left no-repeat;
}

body {
	background-color: AliceBlue;
}

#botones {
	width: 95px;
	margin-left: 50%;	
}



head{
	max-width:960px;
	margin:auto;
	margin-top:55px;
}

#footer{
	position: relative;
	bottom:0;
	width:100%;
	left:400px;
}

#menu{
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#menu ul{
	width: 960px;
	margin: auto;
}

#menu ul li{
	line-height:100px;
	display: inline-block;
	padding-right:50px;
}

#menu ul li a{
	text-decoration:none;
	font-weight:bold;
}

#menu ul li a:hover{
	text-decoration: underline;
}